

// Process Parameters:

// Process Parameters for tblastn:
params.tblastn.nseqs =  "500"  //* @dropdown @description:"Number of database sequences to show alignments for." @options: "100", "250", "500", "1000"
params.tblastn.gencode =  "2"  //* @dropdown @description:"Genetic code number for tblastn" @options: "1", "2", "3", "4", "5", "6", "7"

// Process Parameters for IQTREE_build_tree:
params.IQTREE_build_tree.run_IQTREE =  "true"  //* @checkbox @description:"Checkk the box to use RAXML for phylogeny reconstruction."
params.IQTREE_build_tree.iqtree_model =  "GTR+FO+R6+I"  //* @input @description:"Substitution model for IQTREE2. Could be 'MFP' to run modelfinder."

// Process Parameters for mutations_iqtree:
params.mutations_iqtree.ms_options =  "--syn --syn4f --proba --no-mutspec"  //* @input @description:"Options for mutspec reconstruction script."

// Process Parameters for RAxML_build_tree:
params.RAxML_build_tree.run_RAXML =  "false"  //* @checkbox @description:"Check the box to use RAXML for phylogeny reconstruction."
params.RAxML_build_tree.raxml_model =  "GTRGAMMAIX"  //* @input @description:"Substitution model for RAxML"

// Process Parameters for mutations_raxml:
params.mutations_raxml.ms_options =  "--syn --syn4f --proba --no-mutspec"  //* @input @description:"Options for mutspec reconstruction script."

// Pipeline Config:
$HOSTNAME='default'
