

// Process Parameters:

// Process Parameters for tblastn:
params.tblastn.nseqs =  "500"  //* @dropdown @description:"Number of database sequences to show alignments for." @options: "100", "250", "500", "1000"

// Process Parameters for IQTREE_build_tree:
params.IQTREE_build_tree.run_IQTREE =  "true"  //* @checkbox @description:"Checkk the box to use RAXML for phylogeny reconstruction."
params.IQTREE_build_tree.iqtree_model =  "GTR+FO+R6+I"  //* @input @description:"Substitution model for IQTREE2. Could be 'MFP' to run modelfinder."

// Process Parameters for shrink_iqtree:
params.shrink_iqtree.quantile =  "0.1"  //* @input @description:"The quantile(s) to set threshold for treeshrink."

// Process Parameters for mutations_iqtree:
params.mutations_iqtree.syn4f =  "false"  //* @checkbox @description:"Run extraction of synonymous fourfold mutational spectra"
params.mutations_iqtree.use_probabilities =  "true"  //* @checkbox @description:"Use probabilities of nucleotides in mutational spectra calculation"
params.mutations_iqtree.mnum192 =  "16"  //* @input @description:"Number of mutation types (max 192) required to calculate and plot 192-component mutational spectra"
params.mutations_iqtree.proba_min =  "0.1"  //* @input @description:"Mutation probability cutoff: mutations with lower probability will not be considered in spectra calculation"

// Process Parameters for pyvolve_iqtree:
params.pyvolve_iqtree.replics =  "10"  //* @input @description:"TODO"
params.pyvolve_iqtree.scale_tree =  "1"  //* @input @description:"TODO"
params.pyvolve_iqtree.syn4f =  "false"  //* @checkbox @description:"Run extraction of synonymous fourfold mutational spectra"
params.pyvolve_iqtree.mnum192 =  "16"  //* @input @description:"Number of mutation types (max 192) required to calculate and plot 192-component mutational spectra"

// Process Parameters for RAxML_build_tree:
params.RAxML_build_tree.run_RAXML =  "true"  //* @checkbox @description:"Check the box to use RAXML for phylogeny reconstruction."
params.RAxML_build_tree.raxml_model =  "GTRGAMMAIX"  //* @input @description:"Substitution model for RAxML"

// Process Parameters for shrink_raxml:
params.shrink_raxml.quantile =  "0.1"  //* @input @description:"The quantile(s) to set threshold for treeshrink."

// Process Parameters for mutations_raxml:
params.mutations_raxml.syn4f =  "false"  //* @checkbox @description:"Run extraction of synonymous fourfold mutational spectra"
params.mutations_raxml.use_probabilities =  "true"  //* @checkbox @description:"Use probabilities of nucleotides in mutational spectra calculation"
params.mutations_raxml.mnum192 =  "16"  //* @input @description:"Number of mutation types (max 192) required to calculate and plot 192-component mutational spectra"
params.mutations_raxml.proba_min =  "0.1"  //* @input @description:"Mutation probability cutoff: mutations with lower probability will not be considered in spectra calculation"

// Process Parameters for pyvolve_raxml:
params.pyvolve_raxml.replics =  "10"  //* @input @description:"TODO"
params.pyvolve_raxml.scale_tree =  "1"  //* @input @description:"TODO"
params.pyvolve_raxml.syn4f =  "false"  //* @checkbox @description:"Run extraction of synonymous fourfold mutational spectra"
params.pyvolve_raxml.mnum192 =  "16"  //* @input @description:"Number of mutation types (max 192) required to calculate and plot 192-component mutational spectra"

// Pipeline Config:
$HOSTNAME='default'
